<!DOCTYPE html>
<html>
  <head>
    <title>Briscola</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag :div,
      id: "game_id_data",
      game_id: @active_game_id do %>
    <% end %>
    <%= javascript_pack_tag 'containers/Root', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
